<html>
<header>
	<title>
		
	</title>
</header>
<body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<div>
		<h3>What kind of URL?</h3>
	<ol>
	<form method = "POST" >
      <fieldset>
        <p>
          <label>Personal Website/Portfolio</label>
          <input type = "text"
                 name = "PersonalWebsite"
                 value = "enter URL"
                 style ="width:500px;" />
        </p>
        <p>
          <label>Github Page</label>
          <input  type = "text"
                  name = "Github"
                  value = "enter URL"
                  style ="width:500px;" />
        </p>
        <p>
          <label>LinkedIn</label>
          <input  type = "text"
                  name = "LinkedIn"
                  value = "enter URL"
                  style ="width:500px;" />
        </p>
        <p>
          <label>Facebook</label>
          <input  type = "text"
                  name = "Facebook"
                  value = "enter URL"
                  style ="width:500px;" />
        </p>
      </fieldset>
    <input style="margin-left: 500px; margin-top: 32px;" type = "submit" value = "Save to profile!">
    </form>
	</ol>
	</div>
</body>
</html>