<html>
<head>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<title>
		Augmented Identity LOL
	</title>
</head>
<body>
<center>
  	Username: <input type="text" id="user"><br>
  	Password: <input type="text" id="pass"><br>
  	Confirm Password: <input type="text" id="confirmPass"><br>
  	<button onclick="userData()"> Register!</button>
</center>
<script>
	function userData() {
		var user = document.getElementById("user").value;
		var pass = document.getElementById("pass").value;
		var confirmPass = document.getElementById("confirmPass").value;
		var dict = {};
		dict [user] = pass;
		if (user != "" && pass != "" && pass == confirmPass) {
			$.ajax({
			type: "POST",
			url: "{{ url_for("register") }}",
			contentType: "application/json",
		    data: JSON.stringify(dict),
		    dataType: "json"

			});
		}
	}
</script>
</body>

</html>
