<html>
<header>
	<title>
		
	</title>
</header>
<body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
	$.ajax({
					    type: "POST",
					    url: "{{ url_for("ViewData") }}",
					    contentType: "application/json",
					    success: function(response) {
					    	console.log(response);
					    	
}})
</script>
	<div>
	<ol>
<center>
  <h3>Your Information</h3>
	<textarea rows="20" cols="75">
Need to display links here by retrieving them from flask server.
  </textarea>
  <form method="POST">
    <input style = "margin-top: 20px" type = "submit" value = "Edit">
  </form>
</center>
	</ol>
	</div>
</body>
</html>